.map-container {
    height: 70%;
    width: 100%;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: #ef5aa0;
    border-radius: 5px;
    border: solid black 3px;
}

.add-station-mode {
    color: white;
    font-weight: 600;
    font-size: 3em;
}